* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Georgia', sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.8em;
  background: #ecf726;
}
.container {
  width: 50%;
  margin: 20px auto;
  overflow: hidden;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.8em;
  margin-bottom: 10px;
}
a {
  color: #69e52b;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.clearfix {
  clear: both;
}
nav {
  height: 30px;
  background: #69e52b;
  color: #fff;
  padding: 5px 5px 0px 5px;
}
nav ul {
  float: right;
}
nav li {
  float: left;
  padding: 0 10px;
  border-right: 1px dotted #fff;
}
nav li:last-child {
  border: 0;
}
nav a {
  color: #fff;
}
nav a:hover {
  color: #ccc;
}
header {
  padding: 10px;
}
.showcase {
  border-top: #69e52b 5px solid;
  border-bottom: #69e52b 5px solid;
}
.showcase img {
  width: 100%;
  margin-bottom: -8px;
}
.page-header {
  border-bottom: #ccc solid 1px;
}
.content {
  padding: 10px 15px;
}
.specials {
  margin: 20px 0;
}
.specials li {
  width: 33%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.specials img {
  width: 100%;
  padding: 3px;
  border: 1px solid #ccc;
}
.new-items {
  margin: 20px 0;
}
